<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.christ.utils.EmpDao">
    <insert id="insertEmp" parameterType="com.christ.entities.Emp">
        insert  into emp(name,salary,dept_id) values(#{name},#{salary},#{dept.id})
    </insert>
    <!--<delete id="deleteUser" parameterType="int">
        delete from users where id=#{id}
    </delete>
    <update id="updateUser" parameterType="com.christ.entities.User">
        update users set name= #{name},password=#{password},age=#{age} where id=#{id}
    </update>-->
    <!--<select id="getStudentById" parameterType="int" resultType="com.christ.entities.Student">
        select * from student where id=#{id}
    </select>-->
   <!-- <select id="getAll" resultType="com.christ.entities.User">
        select * from users
    </select>-->
</mapper>